project:
  type: website
  output-dir: docs

website:
  title: "intro_triz_book"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: test.qmd
        text: test

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

